html, body {
	height: 100%;
	overflow: hidden;
	font-family: 'Nanum Myeongjo', serif;
	background-color: #D8C3A4;
}

a {
	color: #000000;
}

a:hover {
	color: #B37F69;
}

#canvas {
	display: block;
	position: absolute;
}

.container {
	max-width: 750px;
	width: auto;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 150px;
}

.bold-title-text {
	font-size: 18pt;
	font-weight: 900;
}

.smaller-title-text {
	font-size: 16pt;
	font-weight: 700;
}

.description {
	margin-top: 20px;
	margin-bottom: 20px;
}

.description p {
	font-size: 10pt;
}

.code-text {
	margin-top: -10px;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 10pt;
}

.nav-link {
	background-color: #B37F69;
	border-color: #BCB8B5;
}

.nav-link:hover {
	background-color: #B59B8A;
	border-color: #BCB8B5;
}

.footer {
	position: relative;
	margin-top: -120px;
	height: 100%;
	clear: both;
	color: #FFFFFF;
}

.footer-icon {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.footer-icon:hover {
	margin-top: -15px;
	webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}

p.indent-once {
	margin-left: 4em;
}

p.code-block {
	margin-top: 25px;
}
